{% extends "base.html" %}

{% block content %}
<h1>Projects</h1>
<h2>Module 1 Project: Personal Website</h2>
<p>Details about Module 1 Project:</p>
<p>
This project is to build a personal developer website that includes a biography, 
contact information/links, and details about our Python projects. 
This is our chance to both be creative and learn the fundamentals of 
website development. We will look back and update this website throughout the course 
as our set of Python projects grows.
</p>
<p>
Project 1 - Link to GitHub:
<a href="https://github.com/nampham929/jhu_software_concepts/tree/main/module_1/app">
    View Project
</a>
</p>
{% endblock %}