body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2cbfae;
    text-align: right;
    padding: 15px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

.navbar a.active {
    background-color: #4c00ff;
    color: rgb(45, 132, 212);
    border-radius: 4px;
}

.content {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
